body {
    background-color: rgb(127, 187, 59);
    text-align: center;
    font-family: 'Andika New Basic', sans-serif;
}
. box-model {
    border-left: 2px solid red;
    border-right: 4px solid blue;
    border-top: 6px solid orange;
    border-bottom: 8px solid black;
}