body {
    background-color: rgba(42, 92, 9, 0.384);
    text-align: center;
    font-family: 'Andika New Basic', sans-serif;
}
.box-model {
    border-left: 2px solid rgb(49, 45, 45);
    border-right: 2px solid rgb(49, 45, 45);
    border-top: 2px solid rgb(49, 45, 45);
    border-bottom: 2px solid rgb(49, 45, 45);
    border-radius: 10px;
    font-family: 'Fredoka One', cursive;
}
.gender {
    margin: 0;
    width: 50%;
}